logs
target
.DS_Store
Thumbs.db
/.vagrant
.sbtserver
.sbtserver.lock
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
*.log
play-fork-run.sbt
projectFilesBackup
project/activator-sbt-idea-shim.sbt
project/sbt-ui.sbt
project/idea.sbt
project/activator-sbt-eclipse-shim.sbt
